<div class='level__container animated fadeIn faster'>

    <!--   <Levels  /> -->


    <div class='btn-secondary level__option'>
        <div>
            <h1 class='level__title'>1</h1>
            <p>1 - 2 - 3</p>
        </div>

        <div>
            <img class='level__icon_medal' src="assets/medal.png" alt='medal-icon' width='40' height='40' />
            <p>2500</p>
        </div>
    </div>
    <div class='btn-secondary level__option'>
        <div>
            <h1 class='level__title'>2</h1>
            <p>4 - 5 - 6</p>
        </div>

        <div>
            <img class='level__icon_medal' src="assets/medal.png" alt='medal-icon' width='40' height='40' />
            <p>1400</p>
        </div>
    </div>
    <div class='btn-secondary level__option'>
        <div>
            <h1 class='level__title'>2</h1>
            <p>4 - 5 - 6</p>
        </div>

        <div>
            <img class='level__icon_medal' src="assets/medal.png" alt='medal-icon' width='40' height='40' />
            <p>1400</p>
        </div>
    </div>
    <div class='btn-secondary level__option'>
        <div>
            <h1 class='level__title'>2</h1>
            <p>4 - 5 - 6</p>
        </div>

        <div>
            <img class='level__icon_medal' src="assets/medal.png" alt='medal-icon' width='40' height='40' />
            <p>1400</p>
        </div>
    </div>

</div>
<button class="btn-secondary animated fadeIn">Atrás</button>