<div  *ngIf="!loading" class="quizz__container animated fadeIn">

    <div class='quizz__puntuation animated fadeIn'>
        <div class='quizz__button'>
            <a [routerLink]="['/game-over/2']" (click)="handleExit()" class='btn-secondary'>
                Salir
            </a>
        </div>
        <div class='quizz__puntuation_number'>
            {{points}}
            <app-medal></app-medal>
        </div>
    </div>

    <!-- Question component -->
    <app-question *ngIf="!loading" [firstNumber]="firstNumber" [secondNumber]="secondNumber"
        (setResponse)="handleValidateResponse($event)"></app-question>

    <!-- Si error -->
    <div class="animated fadeIn quizz__error">
        <h1 *ngIf="!correct && error" class='animated pulse infinite quizz__error_icon'>❌</h1>

        <h2 *ngIf="!correct && error">La respuesta es: {{firstNumber * secondNumber}}</h2>

        <h1 *ngIf="correct && !error" class="animated pulse infinite quizz__error_icon true">✔</h1>
    </div>



</div>

<app-loading *ngIf="loading"></app-loading>