<div class="quizz__container">

    <div class='quizz__puntuation animated fadeIn'>
        <div class='quizz__button'>
            <button (click)="handleNavigate('/')" class='btn-secondary'>
                Salir
            </button>
        </div>
        <div class='quizz__puntuation_number'>
            {{points}}
            <img src="assets/medal.png" alt='medal-icon' />
        </div>
    </div>

    <!-- Question component -->
    <app-question *ngIf="!loading" [firstNumber]="firstNumber" [secondNumber]="secondNumber"
        (setResponse)="handleValidateResponse($event)"></app-question>

    <!-- Si error -->
    <div *ngIf="error && !correct" class='animated fadeIn'>
        <h1 class='animated pulse infinite quizz__error_icon'>❌</h1>

        <div class='quizz__error'>
            <h2>La respuesta es: {{firstNumber}}</h2>
        </div>
    </div>
    <!-- Si correcto -->
    <div *ngIf="correct && !error" class='animated fadeIn'>
        <h1 class=' animated pulse infinite quizz__error_icon true'>✔</h1>
    </div>


</div>