<div class='gameover animate__animated animate__fadeIn'>    
      <h1 class='gameover__title'>Juego terminado</h1>    
      <h1 class='gameover__title'>
        Felicidades usuario
      </h1>
   
    <div>
      <img src="assets/medal.png" class='gameover__icon' alt='medal-icon' />
      <h1 class='gameover__points'>3400</h1>
      
        <h2 class='gameover__best'>Mejor puntuación:1522</h2>
      
    </div>
    <button class='gameover__btn btn-secondary'>
      Niveles
    </button>
    <button class='gameover__btn'>
      Otra vez
    </button>

      
   
  </div>