<div *ngIf="!loading" class='gameover animate__animated animate__fadeIn'>
  <div class='gameover__exit_btn'>

    <a [routerLink]="['/']" class='btn-secondary pb-2'>
      Salir
    </a>
  </div>
    
  <h1 *ngIf="current === 0" class='gameover__title'>Juego terminado</h1>
  <h1 *ngIf="current > 0" class='gameover__title'>Felicidades {{userName}}</h1>
  <div>
    <app-medal width="150"></app-medal>
    <h1 *ngIf="current" class='gameover__points'>{{ current }}</h1>

    <h2 *ngIf="max" class='gameover__best'>Mejor puntuación: {{max}}</h2>

  </div>
  <a [routerLink]="['/level']" class='gameover__btn btn-secondary'>
    Niveles
  </a>
  <a (click)="handleStartAgain()" class='gameover__btn btn-primary'>
    Otra vez
  </a>
</div>

<app-loading *ngIf="loading"></app-loading>