<img *ngIf="!loading" src="assets/logo.png" class="profile__logo animated pulse slower infinite" loading="lazy" alt="logo-image" />
<h1 *ngIf="!loading" class="profile__h1">¿Cuánto sabes de ...tablas de multiplicar?🤔</h1>

<app-form *ngIf="showForm && !loading" (closeForm)="showForm = false; nameUser = $event"> </app-form>

<div *ngIf="!showForm && !loading">
    <h1 class="profile__h1">{{nameUser ? nameUser : ''}}</h1>
    <br>
    <a (click)="showForm = !showForm" class="btn-secondary">Cambiar nombre</a>
    <a [routerLink]="['/level']" data-title="Welcome!" data-intro="Hello World!" class="btn-primary">        
            Empezar        
    </a>
</div>


<app-loading *ngIf="loading"></app-loading>